.footer{
    padding: 10px 10px 0 10px;
    background-color: #ffffff;
    margin-bottom: 0px;
    margin-top: 20px;
}

.jumbotron
{
background-color:#fbf0f0 ;
color:black

}

.margen{
    margin-top: 10px;
    margin-left: 20px;
}
.cardHotel{
    flex:1 150p;
    padding:2px 5px 2px 5px;
    margin-top: 10px;

}
.navbar{
    display:block!important; 
    background-color: #695470;
}


.buscar{
    border: rosybrown;
}
.cards{
    box-shadow: 560x 16px teal;
}
.btnReserva{
    width: 100%;
    position: absolute;
    left:0%;
    background-color: #B08EBD;
    border-color: black;
   }
   .botonReservar{
    background-color: #B08EBD;
    font-family: "Comic Sans MS", cursive, sans-serif;
    align-items: center;
    justify-content: center;
   }
.card {
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(110, 96, 96, 0.26);
    max-width: 250px;
    min-width: 250px;
    min-width: 350px;
  }
 .centrar{
    flex: 1,150px;
   
 }

 